.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

.container{
    width: 1186px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

:root{
    --menu-color: #FFF;
    --btn-background: #B47B48;
    --button-background: #C85312;
    --item-background: #272727;
    --iteem-background: #EBAD51;
    --color-background: #202023;
    --backg-background: rgba(242, 242, 242, 0.30);
  }  

  body {
    font-family: 'Inter', sans-serif;
  }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0px;
    padding: 0px;
  }

li{
    list-style: none;
  }

a {
    text-decoration: none
  }

  /* header */
  
.header {
  background: var(--color-background);
}

.header-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 55px;
  padding-bottom: 71px;
}

.header-link {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding-right: 30px;
}

.header-link:hover,
.header-link:focus {
  color: var(--btn-background);
}
   
  /*bakery */

.bakery {
  padding-top: 155px;
  background: var(--color-background);
  background-image: url(../img/backgroundone.png);
  background-position: center;
  background-repeat: no-repeat;
} 

.bakery-title {
  color: var(--menu-color);
  font-size: 70px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 561px;
  height: 170px;
  margin-bottom: 22px;
}

.bakery-text {
  color: var(--menu-color);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
  height: 200px;
}

.bakery-list {
  display: flex;
  justify-content: space-between;
}

.bakery-btn {
  border: var(--btn-background);
  border-radius: 17px;
  background: var(--btn-background);
  width: 207px;
  height: 57px;
  margin-top: 33px;
  margin-bottom: 125px;

  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bakery-btn:hover,
.bakery-btn:focus {
  background: #705033;
  cursor: pointer;
}

.bakery-item {
  margin-right: 120px;
  background: var(--item-background);
  background-image: url(../img/rectangle.png);
  background-size: 340px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 340px;
  /* height: 235px; */
  height: 245px;
  margin-bottom: 36px;
}   

.box-one {
  /* margin-top: 51px;
  margin-left: 168px;
  margin-right: 12px;
  margin-bottom: 44px; */
  padding-top: 51px;
  padding-left: 8px;
  padding-right: 12px;
  padding-bottom: 44px;
}

.bakery-item:hover,
.bakery-item:focus {
  background: #EBAD51;
  cursor: pointer;
}

.bakery-h2 {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 13px;
}

.bakery-p {
  color: var(--menu-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 130px;
  height: 19px;
  margin-bottom: 35px;
}

.bakery-btn-item {
  background: var(--button-background);
  border: var(--button-background);
  width: 79px;
  height: 34px;

  color: var(--menu-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.bakery-btn-item:hover,
.bakery-btn-item:focus {
  background: #ffa575;
}

  /* menu */

.menu {
  padding-top: 21px;
  padding-bottom: 73px;
  background: var(--color-background);
} 

.menu-list {
  /* gap: 108px;
  justify-content: center; */
  flex-wrap: wrap;
  display: flex;
  /* margin-left: 190px; */
}

.menu-list > .menu-item {
  flex-basis: calc((100% - 108px) / 2);

  margin-bottom: 7px;
}

.menu-box-five {
  /* padding-top: 14px;
  padding-right: 14px;
  padding-left: 20px;
  padding-bottom: 30px; */
  border: 1px solid #FFF;
  width: 328px;
} 

.menu-box-one {
  background-image: url(../img/bread-menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 294px;
  width: 294px;
  height: 184.39px;
  margin-top: 14px;
  margin-right: 14px;
  margin-left: 20px;
} 

.menu-box-two {
  background-image: url(../img/pngeggg.png), 
                    url(../img/pngwingg.png),
                    url(../img/klipartz.png);
  /* background-position:bottom 20px left 90px, bottom 0px right 20px, top -70px left 50px; */
  background-position:bottom 20px left 90px, bottom 0px right 20px, top -20px left 120px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 165px, 249px, 146px;
  /* width: 165px;
  height: 128px;
  width: 246px;
  height: 171px; */
  width: 246px;
  height: 171px;
  margin-left: 40px;
  margin-right: 26px;
  margin-top: 13px;
}

.menu-box-tree {
  background-image: url(../img/ppngwing.png),
                    url(../img/pngwwing.png);
  background-position: left 10px bottom 35px, center;
  background-repeat: no-repeat, no-repeat;
  background-size:  93px, 261px;
  width: 93.193px;
  height: 116.687px;
  width: 261.566px;
  height: 260px; 
  margin-left: 47px;
}

.menu-box-four {
  background-image: url(../img/pngeegg.png),
                    url(../img/pnngegg.png);
  background-position: left bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size:  160px, 209px;
  width: 93.193px;
  height: 116.687px;
  width: 261.566px;
  height: 260px;
  margin-left: 47px;
 }

.menu-title {
  text-align: center;
  color: var(--menu-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 18px;
  padding-top: 21px;

  display: flex;
  justify-content: center;
}

.box-menu {
  display: flex;
  margin-left: 200px;
}

.menu-h4 {
  color: var(--menu-color);
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 8.51px;
  display: flex;
  justify-content: center;
}

.menu-btn {
  border-radius: 17px;
  border: none;
  background: var(--btn-background);
  width: 160px;
  height: 41px;
  color: var(--menu-color);
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 9px;
  margin-left: 80px;
}

.menu-btn:hover,
.menu-btn:focus {
  background: #705033;
  cursor: pointer;
}

  /*quality-our-bekary  */

.quality-our-bekary {
  background: var(--color-background);
} 

.quality-our-bekary-title {
  color: var(--menu-color);
  font-family: 'Italiana';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 90px;
  /* margin-bottom: 84px; */
  display: flex;
  justify-content: flex-end;
}

.quality-our-bekary-text {
  background-image: url(../img/quality-our-bekary-text.png); */
  background-size: 593px;
}

.quality-our-bekary-item-one {
  margin-bottom: 306px;
}

.quality-our-bekary-item-two {
  margin-top: 84px;
  margin-bottom: 121px;
}

.quality-our-bekary-item-tree {
  margin-top: 123px;
  margin-bottom: 47px;
}

.quality-our-bekary-p {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quality-our-bekary-list {
  display: flex;
  justify-content: center;
  gap: 94px;
}

.quality-our-bekary-box {
  background-color: rgb(96 96 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
}

  /* why */

.why {
  background: var(--color-background);
  background-image: url(../img/backgroundtree.png) ,url(../img/backgroundtwo.jpg);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 56px;
} 


.why-title {
  width: 735px;
  color: var(--menu-color);
  font-family: 'Italiana';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 55px;
  padding-bottom: 132px;
  display: flex;
  justify-content: flex-start;
}

.why-item {
  margin-right: 206px;
}

.why-list {
  display: flex;
  align-items: center;
}

.why-p {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  width: 251px;
}

  /* where */

.where {
  background: var(--color-background);
} 

.where-box-two {
  margin-left: 132px;
}

.where-title {
  width: 129px;
  color: var(--menu-color);
  font-family: 'Italiana';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 66px;
  margin-bottom: 44px;
}

.where-text {
  width: 175px;
  height: 44px;
  color: var(--menu-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 49px;
}

.where-p{
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 85px;
}

.where-p-one {
  width: 225px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}

.where-text-two {
  width: 109px;
  color: var(--menu-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.where-p-two {
  width: 199px;
  color: var(--menu-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.box-where {
  display: flex;
  justify-content: space-between;
  /* gap: 132px; */
}

/* .where-div {
  display: flex;
  justify-content: space-between;
  gap: 132px;
} */

  /* footer */

.footer {
  padding-top: 90px;
  padding-bottom: 44px;
  background: var(--color-background);
} 


.footer-logo {
  /* width: 322px; */
  color: var(--menu-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 62px;
  margin-bottom: 16px;
}

.footer-p {
  width: 174px;
  color: var(--menu-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 207px;
}

.footer-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* margin-bottom: 154px; */
  margin-right: 200px;
} 

.footer-text-one{
  width: 68px;
  color: var(--menu-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-one {
  width: 142px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-text-two {
  width: 119px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-two {
  width: 127px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-text-tree {
  width: 107px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-tree {
  width: 118px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-p-p {
  color: var(--menu-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-left: 450px;
  /* margin-right: 590px; */
  /* margin-bottom: 44px; */
  margin-top: 86px;
  width: 275px;
}

.footer-list-one {
  margin-right: 141px;
  margin-left: 77px;
}

.footer-list-two {
  margin-right: 154px;
}

.footer-div {
  margin-left: 160px;
}

.footer-box-div {
  display: flex;
  justify-content: center;
}
