.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container{
    width: 1186px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

:root{
    --menu-color: #FFF;
    --btn-background: #B47B48;
    --button-background: #C85312;
    --item-background: #272727;
    --iteem-background: #EBAD51;
    --color-background: #202023;
    --backg-background: rgba(242, 242, 242, 0.30);
}  

  body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0px;
    padding: 0px;
  }

li{
    list-style: none;
  }

a {
    text-decoration: none
  }

  /* header */
  
.header {
  background: var(--color-background);
}

.header-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 55px;
  padding-bottom: 71px;
}

.header-link {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding-right: 30px;
}

.header-link:hover,
.header-link:focus {
  color: var(--btn-background);
}
   
  /*bakery */

.bakery {
  padding-top: 155px;
  background: var(--color-background);
  background-image: url(../img/backgroundone.png);
  background-position: center;
  background-repeat: no-repeat;
} 

.bakery-box-one {
  fill: var(--menu-color);
  height: 19px;
  margin-top: 172px;
  border: 2px solid #fff;
  width: 20px;
  border-radius: 10px;
}

.bakery-title {
  color: var(--menu-color);
  font-size: 70px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 561px;
  height: 170px;
  margin-bottom: 22px;
}

.bakery-text {
  color: var(--menu-color);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
}

.bakery-text-two {
  color: var(--menu-color);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
}

.bakery-list {
  display: flex;
  justify-content: space-between;
}

.bakery-btn {
  border: var(--btn-background);
  border-radius: 17px;
  background: var(--btn-background);
  width: 207px;
  height: 57px;
  margin-top: 33px;
  margin-bottom: 125px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bakery-btn:hover,
.bakery-btn:focus {
  background: #705033;
  cursor: pointer;
}

.bakery-item {
  margin-right: 120px;
  background: var(--item-background);
  background-image: url(../img/rectangle.png);
  background-size: 340px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 340px;
  height: 245px;
  margin-bottom: 36px;
}   

.box-one {
  padding-top: 51px;
  padding-left: 8px;
  padding-right: 12px;
  padding-bottom: 44px;
}

.bakery-item:hover,
.bakery-item:focus {
  background: #EBAD51;
  cursor: pointer;
}

.bakery-h2 {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 13px;
}

.bakery-p {
  color: var(--menu-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 130px;
  height: 19px;
  margin-bottom: 35px;
}

.bakery-btn-item {
  background: var(--button-background);
  border: var(--button-background);
  width: 79px;
  height: 34px;
  color: var(--menu-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.bakery-btn-item:hover,
.bakery-btn-item:focus {
  background: #ffa575;
}

.bakery-box-two {
  position: absolute;
  margin-left: 200px;
}

.bakery-box-three {
  position: absolute;
  margin-left: 140px;
}

.bakery-box-four {
  position: absolute;
  margin-left: 180px;
}

  /* menu */

.menu {
  padding-top: 21px;
  padding-bottom: 73px;
  background: var(--color-background);
} 

.menu-list {
  margin-top: -7px;
  margin-left: -198px;
  justify-content: center;
  padding-right: 0px;
  flex-wrap: wrap;
  display: flex;
}

.menu-list > .menu-item {
  max-width: 328px;
  flex-basis: calc((100% - 198px * 2) / 2);
  margin-top: 7px;
  margin-left: 198px;
}

.menu-box-five {
  border: 1px solid #FFF;
  width: 328px;
} 

.menu-box-one {
  background-image: url(../img/bread-menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 294px;
  width: 294px;
  height: 184.39px;
  margin-top: 14px;
  margin-right: 14px;
  margin-left: 20px;
} 

.menu-box-two {
  background-image: url(../img/pngeggg.png), 
                    url(../img/pngwingg.png),
                    url(../img/klipartz.png);
  background-position:bottom 20px left 90px, bottom 0px right 20px, top -20px left 120px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 165px, 249px, 146px;
  width: 246px;
  height: 171px;
  margin-left: 40px;
  margin-right: 26px;
  margin-top: 13px;
}

.menu-box-tree {
  background-image: url(../img/ppngwing.png),
                    url(../img/pngwwing.png);
  background-position: left 10px bottom 35px, center;
  background-repeat: no-repeat, no-repeat;
  background-size:  93px, 261px;
  width: 93.193px;
  height: 116.687px;
  width: 261.566px;
  height: 260px; 
  margin-left: 47px;
}

.menu-box-four {
  background-image: url(../img/pngeegg.png),
                    url(../img/pnngegg.png);
  background-position: left bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size:  160px, 209px;
  width: 93.193px;
  height: 116.687px;
  width: 261.566px;
  height: 260px;
  margin-left: 47px;
 }

.menu-title {
  text-align: center;
  color: var(--menu-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 18px;
  padding-top: 21px;
}

.box-menu {
  display: flex;
}

.menu-h4 {
  color: var(--menu-color);
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
}

.menu-btn {
  border-radius: 17px;
  border: none;
  background: var(--btn-background);
  width: 160px;
  height: 41px;
  color: var(--menu-color);
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 9px;
  margin-left: 80px;
}

.menu-btn:hover,
.menu-btn:focus {
  background: #705033;
  cursor: pointer;
}

  /*quality-our-bekary  */

.quality-our-bekary {
  background: var(--color-background);
  position: relative;
  background-image: url(../img/quality-our-bekary-text.png);
  background-size: 593px;
} 

.quality-our-bekary-title {
  color: var(--menu-color);
  font-family: 'Italiana';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 90px;
  margin-left: 466px;
  top: -70px;
  position: absolute;
}

.quality-our-bekary-text {
  background-image: linear-gradient(45deg, #000000ba,#00000082, transparent);
}  

.quality-our-bekary-item-one {
  margin-bottom: 306px;
  margin-top: 50px;
  margin-right: 32px;
}

.quality-our-bekary-item-two {
  margin-top: 150px;
  margin-bottom: 121px;
  margin-right: 25px;
}

.quality-our-bekary-item-tree {
  margin-top: 190px;
  margin-bottom: 47px;
  margin-left: 15px;
}

.quality-our-bekary-p {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quality-our-bekary-list {
  display: flex;
  justify-content: center;
}

.quality-our-bekary-box-one {
  background-color: rgb(96 96 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
  margin-left: 30px;
}

.quality-our-bekary-box-two {
  background-color: rgb(96 96 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
}

.quality-our-bekary-box-tree {
  background-color: rgb(96 96 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
  margin-left: 25px;
  margin-top: -10px;
}

  /* why */

.why {
  background: var(--color-background);
  background-image: url(../img/backgroundtree.png) ,url(../img/backgroundtwo.jpg);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 56px;
} 


.why-title {
  width: 735px;
  color: var(--menu-color);
  font-family: 'Italiana';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 55px;
  padding-bottom: 132px;
  display: flex;
  justify-content: flex-start;
}

.why-item {
  margin-right: 206px;
}

.why-list {
  display: flex;
  align-items: center;
}

.why-p {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  width: 251px;
}

  /* where */

.where {
  background: var(--color-background);
} 

.where-box-two {
  margin-left: 132px;
}

.where-title {
  width: 129px;
  color: var(--menu-color);
  font-family: 'Italiana';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 66px;
  margin-bottom: 44px;
}

.where-text {
  width: 175px;
  height: 44px;
  color: var(--menu-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 49px;
}

.where-p{
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 85px;
}

.where-address {
  margin-bottom: 65px;
}

.where-address-p {
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.where-address-p:hover,
.where-address-p:focus {
  color: #705033;
  cursor: pointer;
}

.where-p-one {
  width: 225px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}

.where-p-one:hover,
.where-p-one:focus {
  color: #705033;
  cursor: pointer;
}

.where-text-two {
  width: 109px;
  color: var(--menu-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.where-p-two:hover,
.where-p-two:focus {
  color: #705033;
  cursor: pointer;
}

.where-p-two {
  width: 199px;
  color: var(--menu-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.box-where {
  display: flex;
  justify-content: space-between;
}
  /* footer */

.footer {
  padding-top: 90px;
  padding-bottom: 44px;
  background: var(--color-background);
} 


.footer-logo {
  color: var(--menu-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 62px;
  margin-bottom: 16px;
}

.footer-p {
  width: 174px;
  color: var(--menu-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 207px;
}

.footer-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 200px;
} 

.footer-text-one{
  width: 68px;
  color: var(--menu-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-one {
  width: 142px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-text-two {
  width: 119px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-two {
  width: 127px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-text-tree {
  width: 107px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-tree {
  width: 118px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-p-p {
  color: var(--menu-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-left: 450px;
  margin-top: 86px;
  width: 275px;
}

.footer-list-one {
  margin-right: 141px;
  margin-left: 77px;
}

.footer-list-two {
  margin-right: 154px;
}

.footer-div {
  margin-left: 160px;
}

.footer-box-div {
  display: flex;
  justify-content: center;
}

/* modal */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(10px);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll{
  overflow: hidden;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--menu-color);
  border-radius: 50px;
  width: 990px;
  height: 669px;
  padding-top: 94px;
  padding-bottom: 93px;
  padding-left: 87px;
}

.modal-title {
  font-weight: 200;
  font-size: 48px;
  color: var(--color-background);
  width: 385px;
  margin-bottom: 40px;
}

.modal-form {
}

.form-fiel {
}

.form-input {
  width: 412px;
  height: 72px;
  background: #f5f5f5;
  border: none;
  margin-bottom: 71px;
  outline: none;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 42px;
  cursor: pointer;
}

.form-input::placeholder {
  font-weight: 200;
  font-size: 24px;
  color: var(--color-background);
}

.form-input-two {
  width: 412px;
  height: 72px;
  background: #f5f5f5;
  border: none;
  outline: none;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 42px;
  cursor: pointer;
}

.form-input-two::placeholder {
  font-weight: 200;
  font-size: 24px;
  color: var(--color-background);
}

.bakery-btn {
  border-radius: 17px;
  background: var(--btn-background);
  width: 207px;
  height: 57px;
  margin-top: 33px;
  margin-bottom: 125px;
  color: var(--menu-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  margin-top: 54px;
}

.bakery-btn:hover,
.bakery-btn:focus {
  background: #705033;
  cursor: pointer;
}