.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1186px) {
  .container {
    max-width: 1186px;
  }
}

.header {
  background-color: #202023;
}

.header-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 55px;
  padding-bottom: 71px;
}

.header-link {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding-right: 30px;
}

.header-link:hover,
.header-link:focus {
  color: #B47B48;
}

.bakery {
  padding-top: 155px;
  background: #202023;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1186px) {
  .bakery {
    background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 60.64%), url(../img/backgroundone.png);
  }
}
@media screen and (min-width: 1186px) and (min-device-pixel-ratio: 2), screen and (min-width: 1186px) and (min-resolution: 192dpi), screen and (min-width: 1186px) and (min-resolution: 2dppx) {
  .bakery {
    background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 60.64%), url(../img/background@2x-desktop.png);
  }
}

.bakery-box-one {
  fill: #FFF;
  height: 19px;
  margin-top: 172px;
  border: 2px solid #fff;
  width: 20px;
  border-radius: 10px;
}

.bakery-title {
  color: #FFF;
  font-style: normal;
  font-size: 70px;
  width: 561px;
  height: 170px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 22px;
}
@media screen and (min-width: 480px) {
  .bakery-title {
    font-size: 58px;
  }
}

.bakery-text {
  color: #FFF;
  font-size: 21px;
  width: 570px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (min-width: 480px) {
  .bakery-text {
    width: 470px;
  }
}

.bakery-text-two {
  color: #FFF;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 570px;
}
@media screen and (min-width: 480px) {
  .bakery-text-two {
    width: 470px;
  }
}

.bakery-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .bakery-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1186px) {
  .bakery-list {
    justify-content: space-between;
  }
}

.bakery-btn {
  border: #B47B48;
  border-radius: 17px;
  background: #B47B48;
  width: 207px;
  height: 57px;
  margin-top: 33px;
  margin-bottom: 125px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bakery-btn:hover,
.bakery-btn:focus {
  background: #705033;
  cursor: pointer;
}

.bakery-item {
  background: #272727;
  background-image: url(../img/rectangle.png);
  background-size: 340px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 340px;
  height: 245px;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .item-two {
    margin-right: 20px;
  }
}

.box-one {
  padding-top: 51px;
  padding-left: 8px;
  padding-right: 12px;
  padding-bottom: 44px;
}

.bakery-item:hover,
.bakery-item:focus {
  background: #EBAD51;
  cursor: pointer;
}

.bakery-h2 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 13px;
}

.bakery-p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 130px;
  height: 19px;
  margin-bottom: 35px;
}

.bakery-btn-item {
  background-color: #C85312;
  border: #C85312;
  width: 79px;
  height: 34px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.bakery-btn-item:hover,
.bakery-btn-item:focus {
  background: #ffa575;
}

.bakery-box-two {
  position: absolute;
  margin-left: 200px;
}

.bakery-box-three {
  position: absolute;
  margin-left: 140px;
}

.bakery-box-four {
  position: absolute;
  margin-left: 180px;
}

.menu {
  padding-top: 21px;
  padding-bottom: 73px;
  background: #202023;
}

.menu-list {
  margin-top: -7px;
  margin-left: -198px;
  justify-content: center;
  padding-right: 0px;
  flex-wrap: wrap;
  display: flex;
}

.menu-list > .menu-item {
  max-width: 328px;
  flex-basis: calc((100% - 396px) / 2);
  margin-top: 7px;
  margin-left: 198px;
}

.menu-box-five {
  border: 1px solid #FFF;
  width: 328px;
}

.menu-box-one {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 294px;
  width: 294px;
  height: 184.39px;
  margin-top: 14px;
  margin-right: 14px;
  margin-left: 20px;
}
@media screen and (min-width: 1186px) {
  .menu-box-one {
    background-image: url(../img/bread-menu.png);
  }
}
@media screen and (min-width: 1186px) and (min-device-pixel-ratio: 2), screen and (min-width: 1186px) and (min-resolution: 192dpi), screen and (min-width: 1186px) and (min-resolution: 2dppx) {
  .menu-box-one {
    background-image: url(../img/menu-breads@2x-desktop.png);
  }
}

.menu-box-two {
  background-position: bottom 20px left 90px, bottom 0px right 20px, top -20px left 120px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 165px, 249px, 146px;
  width: 246px;
  height: 171px;
  margin-left: 40px;
  margin-right: 26px;
  margin-top: 13px;
}
@media screen and (min-width: 1186px) {
  .menu-box-two {
    background-image: url(../img/pngeggg.png), url(../img/pngwingg.png), url(../img/klipartz.png);
  }
}
@media screen and (min-width: 1186px) and (min-device-pixel-ratio: 2), screen and (min-width: 1186px) and (min-resolution: 192dpi), screen and (min-width: 1186px) and (min-resolution: 2dppx) {
  .menu-box-two {
    background-image: url(../img/pngegg-one@2x-desktop.png), url(../img/pngwing-two@2x-desktop.png), url(../img/klipartz-three@2x-desktop.png);
  }
}

.menu-box-tree {
  background-position: left 10px bottom 35px, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 93px, 261px;
  width: 93.193px;
  height: 116.687px;
  width: 261.566px;
  height: 260px;
  margin-left: 47px;
}
@media screen and (min-width: 1186px) {
  .menu-box-tree {
    background-image: url(../img/ppngwing.png), url(../img/pngwwing.png);
  }
}
@media screen and (min-width: 1186px) and (min-device-pixel-ratio: 2), screen and (min-width: 1186px) and (min-resolution: 192dpi), screen and (min-width: 1186px) and (min-resolution: 2dppx) {
  .menu-box-tree {
    background-image: url(../img/pngwingtwo-two@2x-desktop.png), url(../img/pngwingthree-three@2x-desktop.png);
  }
}

.menu-box-four {
  background-position: left bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 160px, 209px;
  width: 93.193px;
  height: 116.687px;
  width: 261.566px;
  height: 260px;
  margin-left: 47px;
}
@media screen and (min-width: 1186px) {
  .menu-box-four {
    background-image: url(../img/pngeegg.png), url(../img/pnngegg.png);
  }
}
@media screen and (min-width: 1186px) and (min-device-pixel-ratio: 2), screen and (min-width: 1186px) and (min-resolution: 192dpi), screen and (min-width: 1186px) and (min-resolution: 2dppx) {
  .menu-box-four {
    background-image: url(../img/pngeggfive-five@2x-desktop.png), url(../img/pngeggfour-four@2x-desktop.png);
  }
}

.menu-title {
  text-align: center;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 18px;
  padding-top: 21px;
}

.box-menu {
  display: flex;
}

.menu-h4 {
  color: #FFF;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
}

.menu-btn {
  border-radius: 17px;
  border: none;
  background: #B47B48;
  width: 160px;
  height: 41px;
  color: #FFF;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 9px;
  margin-left: 80px;
}

.menu-btn:hover,
.menu-btn:focus {
  background: #705033;
  cursor: pointer;
}

.quality-our-bekary {
  background: #202023;
  position: relative;
  background-image: url(../img/quality-our-bekary-text.png);
  background-size: 593px;
}

.quality-our-bekary-title {
  color: #FFF;
  font-family: "Italiana";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 90px;
  top: -70px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .quality-our-bekary-title {
    margin-left: 99px;
  }
}
@media screen and (min-width: 1186px) {
  .quality-our-bekary-title {
    margin-left: 466px;
  }
}

.quality-our-bekary-text {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7294117647), rgba(0, 0, 0, 0.5098039216), transparent);
}

.quality-our-bekary-item-one {
  margin-top: 200px;
}
@media screen and (min-width: 1186px) {
  .quality-our-bekary-item-one {
    margin-bottom: 306px;
    margin-top: 50px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .quality-our-bekary-item-two {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1186px) {
  .quality-our-bekary-item-two {
    margin-top: 150px;
    margin-bottom: 121px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 1186px) {
  .quality-our-bekary-item-tree {
    margin-top: 190px;
    margin-bottom: 47px;
    margin-left: 15px;
  }
}

.quality-our-bekary-p {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quality-our-bekary-list {
  display: flex;
}
@media screen and (min-width: 480px) {
  .quality-our-bekary-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .quality-our-bekary-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1186px) {
  .quality-our-bekary-list {
    justify-content: center;
  }
}

.quality-our-bekary-box-one {
  background-color: rgb(96, 96, 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
  margin-left: 30px;
}

.quality-our-bekary-box-two {
  background-color: rgb(96, 96, 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
}

.quality-our-bekary-box-tree {
  background-color: rgb(96, 96, 96);
  width: 291px;
  height: 197px;
  padding-top: 26px;
  padding-left: 10px;
  margin-left: 25px;
  margin-top: -10px;
}

.why {
  background: #202023;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 56px;
}
@media screen and (min-width: 1186px) {
  .why {
    background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%), url(../img/backgroundtwo.jpg);
  }
}
@media screen and (min-width: 1186px) and (min-device-pixel-ratio: 2), screen and (min-width: 1186px) and (min-resolution: 192dpi), screen and (min-width: 1186px) and (min-resolution: 2dppx) {
  .why {
    background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%), url(../img/background-why@2x-desktop.png);
  }
}

.why-title {
  width: 735px;
  color: #FFF;
  font-family: "Italiana";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 55px;
  padding-bottom: 132px;
  display: flex;
  justify-content: flex-start;
}

.why-item {
  margin-right: 206px;
}

.why-list {
  display: flex;
  align-items: center;
}

.why-p {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  width: 251px;
}

.where {
  background-color: #202023;
}

.where-box-two {
  margin-left: 132px;
}

.where-title {
  width: 129px;
  color: #FFF;
  font-family: "Italiana";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 66px;
  margin-bottom: 44px;
}

.where-text {
  width: 175px;
  height: 44px;
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 49px;
}

.where-p {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 85px;
}

.where-address {
  margin-bottom: 65px;
}

.where-address-p {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.where-address-p:hover,
.where-address-p:focus {
  color: #705033;
  cursor: pointer;
}

.where-p-one {
  width: 225px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}

.where-p-one:hover,
.where-p-one:focus {
  color: #705033;
  cursor: pointer;
}

.where-text-two {
  width: 109px;
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.where-p-two:hover,
.where-p-two:focus {
  color: #705033;
  cursor: pointer;
}

.where-p-two {
  width: 199px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.box-where {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding-top: 90px;
  padding-bottom: 44px;
  background: #202023;
}

.footer-logo {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 62px;
  margin-bottom: 16px;
}

.footer-p {
  width: 174px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 207px;
}

.footer-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 200px;
}

.footer-text-one {
  width: 68px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-one {
  width: 142px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-text-two {
  width: 119px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-two {
  width: 127px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-text-tree {
  width: 107px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 41px;
}

.footer-p-tree {
  width: 118px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-p-p {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-left: 450px;
  margin-top: 86px;
  width: 275px;
}

.footer-list-one {
  margin-right: 141px;
  margin-left: 77px;
}

.footer-list-two {
  margin-right: 154px;
}

.footer-div {
  margin-left: 160px;
}

.footer-box-div {
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(10px);
  opacity: 1;
  z-index: 999;
  position: absolute;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #FFF;
  border-radius: 50px;
  width: 990px;
  height: 669px;
  padding-top: 94px;
  padding-bottom: 93px;
  padding-left: 87px;
}

.modal-title {
  font-weight: 200;
  font-size: 48px;
  color: #202023;
  width: 385px;
  margin-bottom: 40px;
}

.form-input {
  width: 412px;
  height: 72px;
  background: #f5f5f5;
  border: none;
  margin-bottom: 71px;
  outline: none;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 42px;
  cursor: pointer;
}

.form-input::placeholder {
  font-weight: 200;
  font-size: 24px;
  color: #202023;
}

.form-input-two {
  width: 412px;
  height: 72px;
  background: #f5f5f5;
  border: none;
  outline: none;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 42px;
  cursor: pointer;
}

.form-input-two::placeholder {
  font-weight: 200;
  font-size: 24px;
  color: #202023;
}

.bakery-btn {
  border-radius: 17px;
  background: #B47B48;
  width: 207px;
  height: 57px;
  margin-top: 33px;
  margin-bottom: 125px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  margin-top: 54px;
}

.bakery-btn:hover,
.bakery-btn:focus {
  background: #705033;
  cursor: pointer;
}

.modal-box-two {
  position: relative;
  bottom: 650px;
  left: 427px;
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */