// :root{
//     --menu-color: #FFF;
//     --btn-background: #B47B48;
//     --button-background: #C85312;
//     --item-background: #272727;
//     --iteem-background: #EBAD51;
//     --color-background: #202023;
//     --backg-background: rgba(242, 242, 242, 0.30);
// }  

$menu-color: #FFF;
$btn-background-color: #B47B48;
$button-background-color: #C85312;
$item-background-color: #272727;
$iteem-background-color: #EBAD51;
$text-background-color: #202023;
$backg-background-color: rgba(242, 242, 242, 0.30);