.bakery {
    padding-top: 155px;
    background: $text-background-color;
    background-image: url(../img/backgroundone.png);
    background-position: center;
    background-repeat: no-repeat;
  } 
  
  .bakery-box-one {
    fill: $menu-color;
    height: 19px;
    margin-top: 172px;
    border: 2px solid #fff;
    width: 20px;
    border-radius: 10px;
  }
  
  .bakery-title {
    color: $menu-color;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 561px;
    height: 170px;
    margin-bottom: 22px;
  }
  
  .bakery-text {
    color: $menu-color;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 570px;
  }
  
  .bakery-text-two {
    color: $menu-color;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 570px;
  }
  
  .bakery-list {
    display: flex;
    justify-content: space-between;
  }
  
  .bakery-btn {
    border: $btn-background-color;
    border-radius: 17px;
    background: $btn-background-color;
    width: 207px;
    height: 57px;
    margin-top: 33px;
    margin-bottom: 125px;
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .bakery-btn:hover,
  .bakery-btn:focus {
    background: #705033;
    cursor: pointer;
  }
  
  .bakery-item {
    margin-right: 120px;
    background: $item-background-color;
    background-image: url(../img/rectangle.png);
    background-size: 340px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 340px;
    height: 245px;
    margin-bottom: 36px;
  }   
  
  .box-one {
    padding-top: 51px;
    padding-left: 8px;
    padding-right: 12px;
    padding-bottom: 44px;
  }
  
  .bakery-item:hover,
  .bakery-item:focus {
    background: $iteem-background-color;
    cursor: pointer;
  }
  
  .bakery-h2 {
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 13px;
  }
  
  .bakery-p {
    color: $menu-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 130px;
    height: 19px;
    margin-bottom: 35px;
  }
  
  .bakery-btn-item {
    background-color: $button-background-color;
    border: $button-background-color;
    width: 79px;
    height: 34px;
    color: $menu-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .bakery-btn-item:hover,
  .bakery-btn-item:focus {
    background: #ffa575;
  }
  
  .bakery-box-two {
    position: absolute;
    margin-left: 200px;
  }
  
  .bakery-box-three {
    position: absolute;
    margin-left: 140px;
  }
  
  .bakery-box-four {
    position: absolute;
    margin-left: 180px;
  }