.footer {
    padding-top: 90px;
    padding-bottom: 44px;
    background: $text-background-color;
  } 
  
  
  .footer-logo {
    color: $menu-color;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 62px;
    margin-bottom: 16px;
  }
  
  .footer-p {
    width: 174px;
    color: $menu-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 207px;
  }
  
  .footer-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 200px;
  } 
  
  .footer-text-one{
    width: 68px;
    color: $menu-color;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 41px;
  }
  
  .footer-p-one {
    width: 142px;
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
  }
  
  .footer-text-two {
    width: 119px;
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 41px;
  }
  
  .footer-p-two {
    width: 127px;
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
  }
  
  .footer-text-tree {
    width: 107px;
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 41px;
  }
  
  .footer-p-tree {
    width: 118px;
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
  }
  
  .footer-p-p {
    color: $menu-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 450px;
    margin-top: 86px;
    width: 275px;
  }
  
  .footer-list-one {
    margin-right: 141px;
    margin-left: 77px;
  }
  
  .footer-list-two {
    margin-right: 154px;
  }
  
  .footer-div {
    margin-left: 160px;
  }
  
  .footer-box-div {
    display: flex;
    justify-content: center;
  }