.why {
    background: $text-background-color;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 56px;

    @media screen and (min-width: 1186px) {
      background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%) ,url(../img/backgroundtwo.jpg);
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%) ,url(../img/background-why@2x-desktop.png);
      }
      }
  } 
  
  
  .why-title {
    width: 735px;
    color: $menu-color;
    font-family: 'Italiana';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 55px;
    padding-bottom: 132px;
    display: flex;
    justify-content: flex-start;
  }
  
  .why-item {
    margin-right: 206px;
  }
  
  .why-list {
    display: flex;
    align-items: center;
  }
  
  .why-p {
    color: $menu-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    width: 251px;
  }